# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# Android
*.apk
*.aab
*.ap_
*.dex
captures/
.cxx/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.hprof
